{{template "header.html" .S}}

<h4>Dashboard</h4>

<div class="span8 offset2">
	<ul class="nav nav-tabs nav-stacked">
		{{if eq .S.Role "admin" "moderator"}}
		<li><a href="/new/"><i class="icon-book"></i> New books</a></li>
		{{if eq .S.Role "admin"}}
		<li><a href="/news/edit"><i class="icon-certificate"></i> Edit news</a></li>
		{{end}}
		<li class="divider"></li>
		{{end}}
		<li><a href="/settings/"><i class="icon-wrench"></i> Settings</a></li>
		<li class="divider"></li>
		<li><a href="/logout/"><i class="icon-off"></i> Log Out</a></li>
	</ul>
</div>

{{template "footer.html"}}
