{{template "header.html" .S}}


<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{else}}
  <div class="span1"></div>
{{end}}
<p class="centered span9">Found {{.Found}} books. Page {{.Page}} <a href="{{.S.FullURL}}&fmt=rss"><img src="/img/feed.png"/></a> <br />
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{with .Books}}
	{{range .}}
	<div class="row">
		<div class="span1">
		<p class="pull-right"><a href="/book/{{.ID}}">{{if .Cover}}<img class="img-rounded" src="/cover/{{.ID}}/small/{{.Title}}.jpg" alt="{{.Title}}" />{{end}}</a></p>
		</div>
		<div class="span10 well">
		<div class="row">
		<div class="span7">
		<p>
		<span class="muted">[{{if .Lang}}{{.Lang}}{{end}}]</span>
		<a href="/book/{{.ID}}"><strong>{{.Title}}</strong></a>
		<span class="muted">{{if .Publisher}}{{.Publisher}}{{end}}</span><br />
		{{range .Authors}}{{.}}, {{end}}
		</p>
		</div>
		<div class="span3">
		<div class="btn-group pull-right">
		<a href="/download/{{.ID}}/{{.Title}}.epub" class="btn btn-inverse"><i class="icon-download-alt icon-white"></i> download</a>
		<a href="/read/{{.ID}}" class="btn btn-warning"><i class="icon-eye-open icon-white"></i> read it!</a>
		</div>
		</div>
		</div>
		</div>
	</div>
	{{end}}
{{end}}

<ul class="pager">
{{if .Prev}}
  <li class="previous">
    <a href="{{.Prev}}">&larr; Prev</a>
  </li>
{{else}}
  <div class="span1"></div>
{{end}}
<form class="form-inline span9 centered">
<label>Books per page: </label>
<div class="input-append" action="/search/">
<input class="span1" name="num" type="text" value="{{.ItemsPage}}" />
<button type="submit" class="btn">Ok</button>
</div>
<input class="hidden span1" name="q" type="text" value="{{.S.Search}}" />
</form>
{{if .Next}}
  <li class="next">
    <a href="{{.Next}}">Next &rarr;</a>
  </li>
{{end}}
</ul>

{{template "footer.html"}}
