{{template "header.html" .S}}

{{if .SubmissionID}}
<div class="alert alert-success">
	<button class="close" data-dismiss="alert">×</button>
	<strong>Upload successful!</strong> Thank you for your contribution (<a href="/submission/{{.SubmissionID}}">Review the status of your upload</a>)
</div>
{{end}}

<p>Upload your epubs to help the library.</p>

<form class="well form-inline" method="POST" enctype="multipart/form-data">
	<input accept="application/epub+zip" type="file" name="epub" multiple="multiple" />
	<button type="submit" class="btn">Submit</button>
</form>

<p>The uploaded books will be reviewed by the librarians and included if they comply our quality standards.</p>

{{template "footer.html"}}
